<ion-view title="Kingdom Profile">
    <ion-content padding="'true'" class="has-header">
         <ion-list>
            <ion-item menu-close="" ng-click="showProfileActionsheet();" class="item-thumbnail-left">
                <img src="{{imgURI !== undefined?imgURI:'img/bpswndwRECVImgW7kclH_Chess-Game.png'}}" />
                <h2>Profile Image</h2>
            </ion-item>
            <ion-item menu-close="" class="item-thumbnail-left">
                <h2>UserName</h2>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>