<ion-view title="Request Life Time">
    <ion-content padding="'true'" class="has-header">
        <ion-list>
            <ion-item menu-close="">1 Minute</ion-item>
            <ion-item menu-close="">30 Second</ion-item>
            <ion-item menu-close="">1 Minute</ion-item>
        </ion-list>
        <div class="spacer" style="width: 300px; height: 206px;"></div>
        <button class="button button-dark button-block  icon ion-android-alarm-clock">Request</button>
    </ion-content>
</ion-view>