<div>
<article class="page content-item">
    <header>
        

<h1>About Us</h1>


    </header>
    

<div>

<div class="row">

<div class=" col-sm-12">

<div><h4>Who We Are</h4>
<p class="text-justify">ITC Solutions &amp; Services Group (ITCSSG) is a Information Technology services firm providing a solid range of IT-related services utilizing proven methodologies to achieve world-class results. ITCSSG has decades of collective IT experience in a variety of industries by executing "Best Practice" to the selection, development, and deployment of solutions. ITCSSG places great emphasis on assisting clients with high impact IT projects and delivering solid results.</p>
<h4></h4></div>
</div>

</div>
<div class="row mar0A bg-grey1 pad-bottom10 pad-top10">

<div class=" col-sm-6 bor-right1">

<div><h4>Core Products</h4>
<aside class="widget_links">
<ul class="pad-left20">
<li>Business Enterprise Solutions
<ul>
<li>Vendor Management</li>
<li>Talent Acquisition and Management</li>
<li>Job Board</li>
<li>HAWK<br><br></li>
</ul>
</li>
<li>Architecture and Development Offerings
<ul>
<li>Logging Framework</li>
<li>Business Objects and Data Access Framework</li>
<li>UI and MVC Framework</li>
<li>SSG Enterprise Service Bus</li>
<li>SSG Rules Engine</li>
</ul>
</li>
</ul>
<p shape-id="10"><a class="btn btn-lg light learnmore" href="/products">LEARN MORE</a></p>
</aside></div>
</div>

<div class=" col-sm-6 bor-left1">

<div><h4 shape-id="10">Core Services</h4>
<ul shape-id="10" class="pad-left20">
<li shape-id="10">IT Assessments<br shape-id="10">
<ul shape-id="10">
<li shape-id="10">Complete Assessment</li>
<li shape-id="10">Infrastructure Assessment</li>
<li shape-id="10">Applications Assessment</li>
<li shape-id="10">Process, SDLC and Team Assessment</li>
</ul>
</li>
</ul>
<ul shape-id="10" class="pad-left20">
<li shape-id="10">Application Services<br shape-id="10">
<ul shape-id="10">
<li shape-id="10">Custom Software Development</li>
<li shape-id="10">Mobility Solutions</li>
<li shape-id="10">Database Management</li>
<li shape-id="10">Quality Assurance</li>
<li shape-id="10">Engineering, Performance tuning and porting services</li>
<li shape-id="10">Integrations</li>
<li shape-id="10">Data Warehouse and Reporting</li>
</ul>
</li>
</ul>
<ul shape-id="10" class="pad-left20">
<li shape-id="10">IT Infrastructure Solutions
<ul shape-id="10">
<li shape-id="10">Infrastructure and Network</li>
<li shape-id="10">Help Desk and NOC</li>
<li shape-id="10">Virtual and Cloud Services</li>
</ul>
</li>
</ul>
<p shape-id="10"><a class="btn btn-lg light learnmore" href="/services">LEARN MORE</a></p></div>
</div>

</div>
</div>



</article>
    </div>