<div id="products" class="cd-div pad0A">
    <div class="container">
        <div class="heading wow fadeInUp animated" data-wow-duration="1000ms" data-wow-delay="300ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 300ms; animation-name: fadeInUp;">
            <div class="row">
                <div class="text-center col-sm-8 col-sm-offset-2">
                    <h2>Products</h2>
                    <p>ITC Solutions &amp; Services Group provides a horizontal range of products for different domains such
                        as Security, Networking, Staffing &amp; Recruiting for our clients</p>
                    <p><span></span></p>
                </div>
            </div>
        </div>
        <div class="text-center our-services">
            <div class="row">
                <div class="col-sm-3 wow fadeInDown bor-right1 animated" data-wow-duration="1000ms" data-wow-delay="300ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 300ms; animation-name: fadeInDown;">
                    <a class="service-icon" href="https://www.sandstar.us/" target="_blank"><img src="http://www.itcssg.com/Media/Default/Logo/SS-logo.png" class="text-center"></a>
                    <div class="service-info">
                        <h3><a href="https://www.sandstar.us/" target="_blank">SandStar - VM</a></h3>
                        <p>Vendor Management (VM) gives you the power to streamline the recruitment process and to leverage
                            the resources of multiple vendors with the click of a button</p>
                    </div>
                </div>
                <div class="col-sm-3 wow fadeInDown bor-right1 animated" data-wow-duration="1000ms" data-wow-delay="450ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 450ms; animation-name: fadeInDown;">
                    <a class="service-icon" href="https://www.sandstar.us/" target="_blank"><img src="http://www.itcssg.com/Media/Default/Logo/SS-logo.png" class="text-center"></a>
                    <div class="service-info">
                        <h3><a href="https://www.sandstar.us/" target="_blank">SandStar - TAM</a></h3>
                        <p>Talent Acquisition Management (TAM) gives the comfort of easily identifying qualified candidates
                            and tracking the jobs related to the candidates through automated process</p>
                    </div>
                </div>
                <div class="col-sm-3 wow fadeInDown bor-right1 animated" data-wow-duration="1000ms" data-wow-delay="550ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 550ms; animation-name: fadeInDown;">
                    <a class="service-icon" href="https://www.sandstar.us/" target="_blank"><img src="http://www.itcssg.com/Media/Default/Logo/SS-logo.png" class="text-center"></a>
                    <div class="service-info">
                        <h3><a href="https://www.sandstar.us/" target="_blank">SandStar - JB</a></h3>
                        <p>Job Board (JB) allows to manage the job orders and provides automated search options to identify
                            skills from candidate's database</p>
                    </div>
                </div>
                <div class="col-sm-3 wow fadeInUp animated" data-wow-duration="1000ms" data-wow-delay="650ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 650ms; animation-name: fadeInUp;">
                    <a class="service-icon" href="https://hawk.itcssg.com/" target="_blank"><img src="http://www.itcssg.com/Media/Default/Logo/HAWK-logo.png" class="text-center mar-bottom2"></a>
                    <div class="service-info">
                        <h3><a href="https://hawk.itcssg.com/" target="_blank">HAWK</a></h3>
                        <p>HAWK is a global performance monitoring solution for websites and web applications</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>